<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alarm++</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="indigo darken-4">
<div class="container" id="view_alarms">
    <div style="text-align: center">
        <h3 class="white-text">Alarm++</h3>
        <h5 class="white-text">Start your day energized</h5>
        <hr>
        <br>
        <br>
        {% if alarms.time | length > 0 %}
        <h6 class="white-text">Your current alarms:</h6>
        <ul class="collection">
            {% for time in alarms.time %}
            <a href="/delete?time&num={{ alarms.number[loop.index0] }}" class="collection-item">{{ time }}; {{
                alarms.number[loop.index0] }} jumping jacks</a>
            {% endfor %}
        </ul>
        <br>
        <a href="/set">Set a new alarm</a>
        {% else %}
        <h6 class="white-text">You do not have any alarms set! Why not <a href="/set">set one?</a></h6>
        {% endif %}
    </div>
</div>
</body>
</html>